@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,600;1,300;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    --white:#fff;
    --black:#000;
    --secondary:#41857A;
}
a{
    text-decoration: none;
    color: black;
}
.container-align{
    width:80%;
    margin: auto;
}
header{
    height: 95vh;
    position: relative;
    animation: slide 5s alternate infinite ease-in-out;
}
@keyframes slide{
    0%{
        background: url('../images/IMG_20220209_154539_365.jpg') no-repeat;
        background-size: cover;
        background-position:50%;
    }
    100%{
        background: url('../images/IMG_20220211_180339_488.jpg') no-repeat;
        background-size: cover;
        background-position:73%;
    }
}
.navbar{
    padding-top:2rem;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar-container img{
    width: 2rem;
}
.nav-item{
    display:inline-block;
    margin:0 15px;
    font-weight: 500;
    font-size: 1.3rem;

}
.heading{
    position: absolute;
    padding:5%;
    top:50%;
    left:50%;
    font-size:1rem;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
}
.heading h1{
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}
.heading h1::after{
    font-weight: 400;
    white-space: pre-wrap;
    font-size: 2rem;
    content: "";
    animation: textchange 4s alternate infinite ease-in-out;
}
@keyframes textchange {
    0% {
    content: "\aIt's |";}
  5% {
    content: "\aIt's not";
    }
  10% {
    content: "\aIt's not jus|";
    }
  15% {
    content: "\aIt's not just Y";
    }
  20% {
    content: "\aIt's not just YOUR|";
  }
  25% {
    content: "\aIt's not just YOUR CAR,";
  }
  30% {
    content: "\aIt's not just YOUR CAR,|";
  }
  35% {
    content: "\aIt's not just YOUR CAR,|";
  }
  40% {
    content: "\aIt's not just YOUR CAR,";
  }
  45% {
    content: "\aIt's not just YOUR |";
  }
  50% {
    content: "\aIt's not just Y ";
  }
  55% {
    content: "\aIt's not jus|";
  }
  60% {
    content: "\aIt's no";
  }
  65% {
    content: "\aIt's |";
  }
  70% {
    content: "\aIt's OU";
  }
  75% {
    content: "\aIt's OUR C|";
  }
  80% {
    content: "\aIt's OUR CAR";
  }
  85% {
    content: "\aIt's OUR CAR TO|";
  }
  90% {
    content: "\aIt's OUR CAR TOO!";
  }
  95% {
    content: "\aIt's OUR CAR TOO!|";
  }
  100% {
    content: "\aIt's OUR CAR TOO!";
  }
}
@keyframes slide{
    0%{
        background: url('../images/IMG_20220209_154539_365.jpg') no-repeat;
        background-size: cover;
        background-position:50%;
    }
    100%{
        background: url('../images/IMG_20220211_180339_488.jpg') no-repeat;
        background-size: cover;
        background-position:73%;
    }
}
.navbar{
    padding-top:2rem;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar-container img{
    width: 2rem;
}
.nav-item{
    display:inline-block;
    margin:0 15px;
    font-weight: 500;
    font-size: 1.3rem;

}
.heading{
    position: absolute;
    padding:5%;
    top:50%;
    left:50%;
    font-size:1rem;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
}
.heading h1{
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}
.heading h1::after{
    font-weight: 400;
    white-space: pre-wrap;
    font-size: 2rem;
    content: "";
    animation: textchange 4s alternate infinite ease-in-out;
    -webkit-animation: textchange 4s linear infinite ease-in-out;
}
@-webkit-keyframes textchange {
  0% {
    content: "\aIt's |";}
  4% {
    content: "\aIt's not";
    }
  8% {
    content: "\aIt's not jus|";
    }
  12% {
    content: "\aIt's not just Y";
    }
  16% {
    content: "\aIt's not just YOUR|";
  }
  20% {
    content: "\aIt's not just YOUR CAR,";
  }
  24% {
    content: "\aIt's not just YOUR CAR,|";
  }
  28% {
    content: "\aIt's not just YOUR CAR,|";
  }
  32% {
    content: "\aIt's not just YOUR CAR,";
  }
  36% {
    content: "\aIt's not just YOUR |";
  }
  40% {
    content: "\aIt's not just  ";
  }
  44% {
    content: "\aIt's not ju|";
  }
  48% {
    content: "\aIt's no";
  }
  52% {
    content: "\aIt's |";
  }
  56% {
    content: "\aIt's OU";
  }
  60% {
    content: "\aIt's OUR C|";
  }
  64% {
    content: "\aIt's OUR CAR";
  }
  68% {
    content: "\aIt's OUR CAR TO|";
  }
  72% {
    content: "\aIt's OUR CAR TOO!";
  }
  76% {
    content: "\aIt's OUR CAR TOO!|";
  }
  80% {
    content: "\aIt's OUR CAR TO";
  }
  84% {
    content: "\aIt's OUR CAR|";
  }
  88% {
    content: "\aIt's OUR C";
  }
  92% {
    content: "\aIt's OU|";
  }
  96% {
    content: "\aIt's";
  }
}
.services{
    margin-top: 5rem;
}
.contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.head{
    color: var(--black);
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
}
.button{
    color: var(--black);
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 2px solid var(--secondary);
    background-color: rgb(65, 133, 122, 10%);
}
.button:hover{
    color: var(--white);
    background-color: var(--secondary);
    transition: 0.2s;
}
.services-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.flexitems{
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #41857A;
}

.services-list img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 50%;
}
.flexitems h3{
    position: absolute;
    display: block;
    color: var(--white);
    font-size: 30px;
    text-transform: uppercase;
    align-self: center;
    z-index: 2;
    background-color: rgb(0, 0, 0, 10%);
}
.flexitems img:hover{
    opacity:0.3;
    transition: 0.3s ease-in-out;
}

footer{
    display: flex;
    background-color:var(--secondary);
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 5rem;
}

.social{
    display: flex;
    justify-content: space-between;
}
.social-icn{
    margin:1rem 15px;
}
.icns{
    align-self: flex-end;
}
.email #mailing{
  width:fit-content;
  height: 30px;
  display: none;
}
#mails{
  display: none;
  position: relative;
  /* top: -40px;
  left: -100px; */
  z-index: 2;
  background: white;
  padding: 0.5em;
  height: fit-content;
}
.email #mailing:checked ~ #mails{
  display: block;
  
}
.right{
    margin:1rem 15px;
    align-self: flex-start;
}

@media(max-width:720px)
{
    .navbar-container{
        display: flex;
        justify-content: centre;
        flex-wrap: wrap;
    }
    .navbar-container img{
        width: 2rem;
    }
    .nav-item{
        display:inline-block;
        margin:0 0.3em;
        font-weight: 500;
        font-size: 1.3rem;
    }
    .services-list{
      display:grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
      column-gap: 20px;
    }
    footer{
    display: flex;
    background-color:var(--secondary);
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 5rem;
}
.nav-item{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.nav-item::before{
  content: "\a\a";
}
.social{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icns{
    align-self: center;
    display: flex;
    justify-content: center;
}
.social-icn{
    margin:1rem 15px;
}
.right{
    margin:1rem 15px;
    align-self: center;
}
}
